.rightCol {
    text-align: center;
    position: fixed;
    right: 0%;
    height: 100%;
    width: 13%;
    overflow: auto;
    padding: 5% 1%;
    font-family: fantasy;
    
}

.leftCol {
    text-align: center;
    position: fixed;
    height: 100%;
    width: 13%;
    overflow: auto;
    padding: 5% 1%;
    font-family: fantasy;

}

.image:hover {
      box-shadow: 0 0 2px 1px red;

}
